{% extends 'base.html' %}
{% comment %} {% load tailwind_filters %} {% endcomment %}


{% block content %}

<div class="max-w-lg mx-auto">
    <form method="post" class="mt-5">
        {% csrf_token %}
        {% comment %} {{ form|crispy }} {% endcomment %}
        {{ form }}
        <button type='submit' class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2rounded-md">
            Signup
        </button>
    </form>
    <div class="py-5 border-t border-gray-200 mt-5">
        Already have an account?<a class="mx-3 hover:text-blue-500" href="#">Login</a>
    </div>
</div>
{% endblock content %}
