{% extends 'base.html' %}
<div>
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        {% for product in products %}

        <div class="lg:w-1/4 md:w-1/4 sm:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="md:h-full min-h-0 object-center h-full block" src="{{ product.image.url }}">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Category: {{ product.category}}</h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">{{product.description}}</h2>
            <p class="mt-1">₹{{product.original_price}}</p>

          </div>
        </div>
        {% endfor %}
        <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

        
      </div>
    </div>
  </section>
{% endblock content %}
</div>

