{% load static %}
{% load tailwind_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopIT</title>
</head>
<body>
    <div>
        <div>
            <div >{% include 'header.html' %} </div>
            <div>{% block crousel %}{% endblock crousel %}</div>
            <div>
                {% block content %}{% endblock content %}
            </div>
        </div>

        <div>{% include 'footer.html' %} </div>
    </div>
</body>
</html>